<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/IMS_DB?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <!--<property name="hibernate.hbm2ddl.auto">create-drop</property>-->
    <property name="hibernate.connection.autocommit">true</property>
    <mapping resource="ImsGenraldefinition.hbm.xml"/>
    <mapping resource="ImsGrouprights.hbm.xml"/>
    <mapping resource="ImsEmployee.hbm.xml"/>
    <mapping resource="ImsSuppliersauthorizer.hbm.xml"/>
    <mapping resource="ImsSuppliermaster.hbm.xml"/>
    <mapping resource="ImsOptionrights.hbm.xml"/>
    <mapping resource="ImsDealersauthorizer.hbm.xml"/>
    <mapping resource="ImsTaxslab.hbm.xml"/>
    <mapping resource="ImsBanktransactions.hbm.xml"/>
    <mapping resource="ImsProductdetails.hbm.xml"/>
    <mapping resource="ImsStockdetails.hbm.xml"/>
    <mapping resource="ImsPurchasemaster.hbm.xml"/>
    <mapping resource="ImsTransactiondetails.hbm.xml"/>
    <mapping resource="ImsOrderdetails.hbm.xml"/>
    <mapping resource="ImsSalesproductdetails.hbm.xml"/>
    <mapping resource="ImsBankaccountdetails.hbm.xml"/>
    <mapping resource="ImsLogindetails.hbm.xml"/>
    <mapping resource="ImsDealermaster.hbm.xml"/>
    <mapping resource="ImsSalesmaster.hbm.xml"/>
    <mapping resource="ImsPurchaseproductdetails.hbm.xml"/>
    <mapping resource="ImsPartnerdetails.hbm.xml"/>
    <mapping resource="ImsProductcategory.hbm.xml"/>
    <mapping resource="ImsAppsettings.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
