<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/IMS_DB?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="org/ims/dao/entity/ImsEmployee.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsOptionrights.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsBanktransactions.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsManageorderdetails.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsPartnerdetails.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsManageorders.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsSalesproductdetails.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsStockdetails.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsPurchasemaster.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsPurchaseproductdetails.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsSuppliermaster.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsDealersauthorizer.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsBankaccountdetails.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsTransactiondetails.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsSuppliersauthorizer.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsProductdetails.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsOrderdetails.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsSalesmaster.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsAppsettings.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsProductcategory.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsLogindetails.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsTaxslab.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsGenraldefinition.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsGrouprights.hbm.xml"/>
    <mapping resource="org/ims/dao/entity/ImsDealermaster.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
